.container{
    display: flex;
    flex-direction: column;
}
.lists{
    display: flex;
    flex-direction: column;
}
.main-center{
    display: flex;
    flex-direction: column;
}
ul{
    display: flex;
    justify-content: space-between;
    li{
        list-style: none;
        margin-left: 10px;
    }
    span{
        margin-left: 10px;
    }
}

.jobs-detail{
    display: flex;
    padding: 10px;
    // margin-left: 5rem;
    font-size: 10px;
    .inp{
        display: flex;
        i{
            padding: 10px;
        }
    }
}
img{
    width: 60px;
    height: 60px;

}



